@import "./card-component.css";
@import "./product-cards.css";
@import "../../common/a11y.css";

:root {
  --bg-color: var(--white);

  @media (prefers-color-scheme: dark) {
    --bg-color: var(--black);
  }
}

body {
  background-color: var(--bg-color);
}

@media (min-width: 1024px) {
  .apple-base-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 카드 레이아웃 */
/* 해당 css 코드는 product-cards.css에 작성했습니다 */
