@import "./reset.css";
@import "./theme.css";
@import "./base.css";

/* component page */
body {
  margin: var(--small-spacing);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
hr {
  width: 100%;
}

.card-wrapper,
.button-wrapper {
  display: flex;
  box-sizing: border-box;
  margin: var(--small-spacing);
  padding: var(--base-spacing);
  gap: var(--small-spacing);
  border: 2px solid var(--blue-300);
}

/* card components */
.card-wrapper {
  width: 320px;
  height: var(--size);
  display: flex;
  flex-direction: column;
  align-items: center;

  & .text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: var(--large-spacing);
    gap: var(--small-spacing);
  }

  @media (min-width: 1024px) {
    width: 1024px;
  }
}

.light,
.dark {
  & .title {
    font-size: var(--large-text);
  }
  & .subtitle {
    font-size: var(--base-text);
    margin-bottom: var(--x-small-spacing);
    line-height: var(--line-normal);
  }
  & .sales-date {
    font-size: var(--small-text);
    color: var(--gray);
  }

  .light-card-wrapper {
    color: var(--black);
  }
  .dark-card-wrapper {
    background-color: transparent;
    color: var(--white);
  }

  @media (min-width: 1024px) {
    & .title {
      font-size: var(--extra-large-text);
    }

    & .subtitle {
      font-size: var(--medium-text);
    }
  }
}

/* button components */
button {
  border-style: none;
  padding: var(--x-small-spacing);
}

.light,
.dark {
  display: flex;
  gap: var(--base-spacing);

  .detail-light,
  .price-light,
  .detail-dark,
  .price-dark {
    font-size: var(--xx-small-text);
    border-radius: 1.5rem;

    @media (min-width: 1024px) {
      font-size: var(--x-small-text);
    }
  }
}

.detail-light {
  background-color: var(--black);
  color: var(--white);
}

.price-light {
  background-color: transparent;
  color: var(--black);
  border: 1px solid var(--black);
}

.detail-dark {
  background-color: var(--blue-300);
  color: var(--white);
}

.price-dark {
  background-color: transparent;
  color: var(--blue-300);
  border: 1px solid var(--blue-300);
}
