@import "./reset.css";
@import "./theme.css";
@import "./base.css";

/* card components */
.card-wrapper {
  width: 320px;
  height: var(--size);
  display: flex;
  flex-direction: column;
  align-items: center;

  & .text-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-top: var(--large-spacing);
    gap: var(--small-spacing);
  }

  @media (min-width: 1024px) {
    width: 1024px;
    & .text-box {
      margin-top: var(--base-spacing);
    }
  }
}

.light,
.dark {
  & .title {
    font-size: var(--large-text);
  }
  & .subtitle {
    font-size: var(--base-text);
    margin-bottom: var(--x-small-spacing);
    line-height: var(--line-normal);
  }
  & .sales-date {
    font-size: var(--small-text);
    color: var(--gray);
  }

  .light-card-wrapper {
    color: var(--black);
  }
  .dark-card-wrapper {
    background-color: transparent;
    color: var(--white);
  }

  @media (min-width: 1024px) {
    & .title {
      font-size: var(--extra-large-text);
    }

    & .subtitle {
      font-size: var(--medium-text);
    }
  }
}

/* link button components */
.btn-link {
  color: initial;
  display: inline-block;
  padding: var(--x-small-spacing);
  white-space: nowrap;
}

.light,
.dark {
  display: flex;
  gap: var(--base-spacing);
}

.light .detail-light,
.light .price-light,
.dark .detail-dark,
.dark .price-dark {
  font-size: var(--xx-small-text);
  border-radius: 1.5rem;
  padding: var(--x-small-spacing);
  text-align: center;
}

@media (min-width: 1024px) {
  .light .detail-light,
  .light .price-light,
  .dark .detail-dark,
  .dark .price-dark {
    font-size: var(--x-small-text);
  }
}

.light .detail-light {
  background-color: var(--black);
  color: var(--white);
}

.light .price-light {
  background-color: transparent;
  color: var(--black);
  border: 1px solid var(--black);
}

.dark .detail-dark {
  background-color: var(--blue-300);
  color: var(--white);
}

.dark .price-dark {
  background-color: transparent;
  color: var(--blue-300);
  border: 1px solid var(--blue-300);
}
