/* CSS를 활용하여 레이아웃 및 스타일링을 완성해주세요 */
@import "/src/common/best-reset.css";
@import "/src/common/a11y.css";

/* 전역변수 */
:root {
  --font-default-16: 1rem;
  --font-default-color: #121212;

  --focus-style-default-color: #24388d;
  --focus-border-default-color: #03cf5d;
  --focus-bg-color: #e9f0fd;

  --spacing-10: 0.625rem;
  --spacing-20: 1.25rem;
  --spacing-45: 2.8125rem;

  --login-btn-font-color: #fff;
  --login-btn-bg-color: #03cf5d;

  --toggle-font-color: #999;
  --toggle-checked-font-color: #03cf5d;
}

/* 초기화 */
body *,
body *::before,
body *::after {
  color: var(--font-default-color);
  text-decoration: none;
}
fieldset {
  border: 0;
  width: 100%;
}

/* UI 구현 */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    *:focus {
      box-shadow: 0 0 0.1875rem var(--focus-style-default-color);
    }
  }
}

/* mobile UI */

figure {
  width: 14.375rem;
  margin-bottom: 2.8125rem;

  & .naver-logo {
    display: block;
    height: 2.75rem;

    & .naver-logo img {
      height: 100%;
    }
  }
}

.form-wrapper {
  --normal-gap10: var(--spacing-10);

  display: flex;
  flex-direction: column;
  gap: var(--normal-gap10);
  width: 100%;

  /* desktop UI */
  @media (min-width: 48rem) {
    width: 31.25rem;
    padding: 0 var(--normal-gap20);
    margin: 0 auto;
  }
}

.login-container {
  --normal-gap20: var(--spacing-20);

  display: flex;
  width: 100%;
  padding: 0 var(--normal-gap20);
  flex: 1;

  .input {
    display: flex;
    input {
      width: 100%;
      height: 2.8125rem;
      padding: 0.875rem;
      outline: none;
      border: 0.0625rem solid #dadada;
      background-color: #fff;

      &:focus {
        border: 0.0625rem solid var(--focus-border-default-color);
        background-color: var(--focus-bg-color);
      }
    }
  }
  .loginBtn {
    --login-btn-spacing-20: var(--spacing-20);
    --login-btn-width-45: var(--spacing-45);
    --login-btn-font-16: var(--font-default-16);

    font-size: var(--login-btn-font-16);
    height: var(--login-btn-width-45);
    color: var(--login-btn-font-color);
    background-color: var(--login-btn-bg-color);
    margin-top: var(--login-btn-spacing-20);
    border: none;
  }

  .login-option-wrapper {
    display: flex;
    justify-content: end;

    /* desktop UI */
    @media (min-width: 48rem) {
      justify-content: space-between;
    }

    .ipSecure-checkbox {
      display: none;

      /* desktop UI */
      @media (min-width: 48rem) {
        display: flex;
        align-items: center;
      }

      .ipSecure-wrapper {
        display: flex;
        align-items: center;
        gap: 50px;
      }
    }

    .login-status-checkbox {
      display: flex;
      align-items: center;
      gap: 0.3125rem;
      input[type="checkbox"] {
        appearance: none;
        width: 1.5rem;
        height: 1.5rem;
        background: url("../../../src/assets/images/unchecked.svg");
        background-size: cover;

        &:checked {
          background: url("../../../src/assets/images/checked.svg");
          background-size: cover;
        }
      }
    }

    a .ipSecure {
      --ipSecure-font-16: var(--font-default-16);
      --ipSecture-fontColor: var(--font-default-color);
      font-size: var(--ipSecure-font-16);
      color: var(--ipSecture-fontColor);
    }

    #ipSecure {
      position: absolute;
      width: 0.0625rem;
      height: 0.0625rem;
      padding: 0;
      margin: -0.0625rem;
      overflow: hidden;
      clip-path: inset(50%);
      border: 0;
    }

    .toggle-status {
      position: relative;
      display: inline-block;
      cursor: pointer;
      user-select: none;
      color: var(--toggle-font-color);
    }

    .toggle-status::after {
      content: "OFF";
      font-weight: bold;
      color: var(--toggle-font-color);
    }

    #ipSecure:checked + .toggle-status::after {
      content: "ON";
      color: var(--toggle-checked-font-color);
    }

    .toggle-status .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
    }

    .toggle-status .sr-only::before {
      content: "ip보안 유지 상태 OFF";
    }

    #ipSecure:checked + .toggle-status .sr-only::before {
      content: "ip보안 유지 상태 ON";
    }
  }
}
